!$HOME/.Xdefaults

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!
!  生效命令：
!   xrdb -load $HOME/.Xresources
!
!
!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!



URxvt.preeditType:Root
!调整此处设置输入法
Rxvt.inputMethod:fcitx


!==================================================================
!字体设置
xterm*faceName: xft:DejaVuSansMonoforPowerline NF,xft:FontAwesome,xft:文泉驿等宽微米黑:pixelsize=12
xterm*termName: xterm-256color

URxvt.letterSpace:0

!URxvt.font: xft:DejaVu Sans:pixelsize=14,xft:文泉驿等宽微米黑:pixelsize=12 
URxvt.font: xft:DejaVuSansMonoforPowerline NF:DejaVu Sans:pixelsize=13:Book,xft:DejaVuSansMonoforPowerline NF:Bold:pixelsize=13,xft:DejaVuSansMonoforPowerline NF:Oblique:pixelsize=13,xft:DejaVuSansMonoforPowerline NF:Bold Oblique:pixelsize=13,xft:文泉驿等宽微米黑:pixelsize=12,xft:FontAwesome:pixelsize=13, xft:Apple 彩色表情符号:Regular:pixelsize=13,xft:DejaVu Sans:pixelsize=14
!URxvt.font: xft:DejaVu Sans Mono:pixelsize=14,xft:文泉驿等宽微米黑:pixelsize=12 
!URxvt.font: xft:Droid Sans Mono Slashed for Powerline:Book:size=10,xft:文泉驿等宽微米黑:size=11 
!URxvt.font: xft:DroidSansMonoForPowerline NF:Book:size=10, xft:InconsolataforPowerline\ Nerd\Font:size=11,xft:DejaVu\ Sans\ Mono\ for\ Powerline:pixelsize=11,xft:FontAwesome:size,xft:文泉驿等宽微米黑:size=11 
!URxvt.Font:	xft:InconsolataForPowerline Nerd Font,xft:FontAwesome,	xft:文泉驿等宽微米黑 :pixelsize=10 :bold
!URxvt.italicFont:	xft:InconsolataForPowerline Nerd Font,xft:FontAwesome,xft:文泉驿等宽微米黑 :pixelsize=13 , xft:Inconsolata-dz for Powerline:italic
!URxvt.boldItalicFont:	xft:InconsolataForPowerline Nerd Font,xft:FontAwesome,xft:文泉驿等宽微米黑    :pixelsize=13 :bold:italic
Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                full
Xft.hintstyle:              hintslight
!==================================================================

!==================================================================
!!颜色设置
URxvt.depth:32

/bin/bash: Source: command not found


!!!==================================================================
!!!Source http://github.com/altercation/solarized
! 
!*background: [70]#002b36
!*foreground: #657b83
!!!*fading: 40
!*fadeColor: #002b36
!*cursorColor: #93a1a1
!*pointerColorBackground: #586e75
!*pointerColorForeground: #93a1a1
! 
!!! black dark/light
!*color0: #073642
!*color8: #002b36
! 
!!! red dark/light
!*color1: #dc322f
!*color9: #cb4b16
! 
!!! green dark/light
!*color2: #859900
!*color10: #586e75
! 
!!! yellow dark/light
!*color3: #b58900
!*color11: #657b83
! 
!!! blue dark/light
!*color4: #268bd2
!*color12: #839496
! 
!!! magenta dark/light
!*color5: #d33682
!*color13: #6c71c4
! 
!!! cyan dark/light
!*color6: #2aa198
!*color14: #93a1a1
! 
!!! white dark/light
!*color7: #eee8d5
!*color15: #fdf6e3
!!!==================================================================


!!==================================================================
URxvt.background:[70]black
URxvt.foreground:white
URxvt.colorBD:yellow
URxvt.colorUL:Green
URxvt.color0: #000000
URxvt.color1: #CC0000
URxvt.color2: #4E9A06
URxvt.color3: #C4A000
URxvt.color4: #3465A4
URxvt.color5: #75507B
URxvt.color6: #06989A
URxvt.color7: #D3D7CF
URxvt.color8: #555753
URxvt.color9: #EF2929
URxvt.color10: #8AE234
URxvt.color11: #FCE94F
URxvt.color12: #729FCF
URxvt.color13: #AD7FA8
URxvt.color14: #34E2E2
URxvt.color15: #EEEEEC
!======================================================================
!
!URxvt.background: [90]#002b36
!URxvt.foreground: #657b83
!!!!*fading: 40
!URxvt.fadeColor: #002b36
!URxvt.cursorColor: #93a1a1
!URxvt.pointerColorBackground: #586e75
!URxvt.pointerColorForeground: #93a1a1
!!!! black dark/light
!URxvt.color0: #073642
!URxvt.color8: #002b36
!!!! red dark/light
!URxvt.color1: #dc322f
!URxvt.color9: #cb4b16
!!!! green dark/light
!URxvt.color2: #859900
!URxvt.color10: #586e75
!!!! yellow dark/light
!URxvt.color3: #b58900
!URxvt.color11: #657b83
!!!! blue dark/light
!URxvt.color4: #268bd2
!URxvt.color12: #839496
!!!! magenta dark/light
!URxvt.color5: #d33682
!URxvt.color13: #6c71c4
!!!! cyan dark/light
!URxvt.color6: #2aa198
!URxvt.color14: #93a1a1
!!!! white dark/light
!URxvt.color7: #eee8d5
!URxvt.color15: #fdf6e3
!!======================================================================
!
!!中括号内数表示透明度
!URxvt.background:[70]#000000
!URxvt.foreground:#c0c0c0
!! black
!URxvt.color0:#000000
!URxvt.color8:#2C2C2C
!!red
!URxvt.color1:#C42B2B
!URxvt.color9:#FF2929
!! green
!URxvt.color2:#3BD93B
!URxvt.color10:#28FC28
!! yellow
!URxvt.color3:#E3E336
!URxvt.color11:#FFEA1E
!! blue
!URxvt.color4:#4747BB
!URxvt.color12:#2121DE
!! magenta
!URxvt.color5:#CB40CB
!URxvt.color13:#FF00FF
!! cyan
!URxvt.color6:#6FD2D2
!URxvt.color14:#00FFFF
!! white
!URxvt.color7:#C0C0C0
!URxvt.color15:#FFFFFF
!ckground: #0f0f0f
!*foreground: #c8c8c8
!!===================================================================


!URL操作
!URxvt.urlLauncher:chromium
URxvt.url-launcher:        /usr/bin/chromium-browser
URxvt.matcher.button:1
Urxvt.perl-ext-common:matcher
!!滚动条设置
URxvt.scrollBar:False
URxvt.scrollBar_right:False
URxvt.scrollBar_floating:False
URxvt.scrollstyle:plain
!!滚屏设置
URxvt.mouseWheelScrollPage:True
URxvt.scrollTtyOutput:False
URxvt.scrollWithBuffer:True
URxvt.scrollTtyKeypress:True
!光标闪烁
URxvt.cursorBlink:True
URxvt.saveLines:3000
!边框
URxvt.borderLess:False

!==============================================================
